<div class="main-content">
  <div class="text-center">
    <span class="title" (click)="validate()">{{planningName}}</span><br>
    <span class="subtitle">Créé par Koitrin KOFFI il y a 4 minutes</span>
  </div>
  <app-card>
    <div class="table-responsive">
      <table border="1">
        <thead>
        <th></th>
        <th *ngFor="let head of matrix[0]" (click)="checkColumns(head.column)" >{{formatDate(head.unavailability.period.from, 'DD/MM/YYYY')}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let lines of matrix">
          <td (click)="checkRows(lines[0].row)">
            {{formatDate(lines[0].unavailability.period.from, 'HH:mm')}} - {{formatDate(lines[0].unavailability.period.to, 'HH:mm')}}
          </td>
          <td *ngFor="let line of lines"><input type="checkbox" [(ngModel)]="line.checked"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
