<mat-form-field class="full-width" appearance="outline">
  <mat-chip-list #chipList aria-label="Classroom selection">
    <mat-chip
      color="success"
      *ngFor="let classroom of classrooms"
      [selectable]="selectableChips"
      [removable]="removableChips"
      (removed)="removeClassroom(classroom)">
      {{classroom.label}}
      <mat-icon matChipRemove *ngIf="removableChips">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Nouvelle salle..."
      [(ngModel)]="searchInput"
      #classroomInput
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addClassroomByInput($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="classroomSelected($event)">
    <mat-option *ngFor="let classroom of suggestedClassroom | classroom: 'label' :searchInput" [value]="classroom.id">
      {{classroom.label}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<app-card
  title="Salles suggérées">
  <p class="">
    <mat-chip-list aria-label="Classroom selection" [(ngModel)]="classrooms">
      <mat-chip
        *ngFor="let classroom of suggestedClassroom"
        [selectable]="selectableChips"
        (click)="addClassroom(classroom)">
        {{classroom.label}}
      </mat-chip>
    </mat-chip-list>
  </p>
</app-card>
