<mat-form-field class="full-width" appearance="outline">
  <mat-chip-list #chipList aria-label="Classroom selection">
    <mat-chip
      color="success"
      *ngFor="let classroom of classrooms"
      [selectable]="selectableChips"
      [removable]="removableChips"
      (removed)="removeClassroom(classroom)">
      {{classroom}}
      <mat-icon matChipRemove *ngIf="removableChips">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Nouvelle salle..."
      #classroomInput
      [formControl]="classroomCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addClassroomByInput($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="classroomSelected($event)">
    <mat-option *ngFor="let classroom of filteredClassroom | async" [value]="classroom">
      {{classroom}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div>
  <mat-card class="">
    <mat-card-header>
      <mat-card-title>Salles suggérées</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="">
        <mat-chip-list aria-label="Classroom selection">
          <mat-chip
            *ngFor="let classroom of suggestedClassroom"
            [selectable]="selectableChips"
            (click)="addClassroom(classroom)">
            {{classroom}}
          </mat-chip>
        </mat-chip-list>
      </p>
    </mat-card-content>
  </mat-card>
</div>
