<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <app-calendar-side-bar #calendarSideBarComponent
                               [updated]="updated"
                               class="toolbox"
                               [timer]="timeLeft"
                               (oralDefenseSelected)="loadOralDefense($event)"
                                (onGenerateButton)="generate()">

        </app-calendar-side-bar>
      </div>
    <div class="text-center" *ngIf="planning != undefined">
      <h3 class="font-weight-bolder">{{planning.name}}</h3>
    </div>
      <div class="row mt-3">
        <app-calendar #calendarComponent
                      class="my-background"
                      (changed)="canValidate($event)"
                      [edit]="authService.user.role == 2"></app-calendar>
      </div>
  </div>
</div>
<div class="fab" *ngIf="updated">
  <button mat-raised-button class="btn btn-success btn-round mat-raised-button mat-button-base clickable-item" (click)="validate()" [disabled]="!updated">
    <span class="mat-button-wrapper font-weight-bolder">
    <mat-icon>save</mat-icon>
          Valider
    </span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
