<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Salles de soutenance</ng-template>
    <app-classroom-selector></app-classroom-selector>
    <br>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
      <button mat-raised-button color="primary" matStepperNext class="item-left-spacing">Suivant</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="custom-form">
      <ng-template matStepLabel>Informations générales</ng-template>
      <mat-form-field appearance="outline" class="width-45">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="Titre du planning" formControlName="title" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="width-45">
        <mat-label>Note</mat-label>
        <textarea matInput placeholder="Informations complémentaires"></textarea>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="custom-form">
      <ng-template matStepLabel>Période de la soutenance</ng-template>
      <div>
        <mat-form-field appearance="outline" class="width-45">
          <mat-label>Choisir le début de période</mat-label>
          <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="item-left-spacing width-45">
          <mat-label>Choisir la fin de période</mat-label>
          <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker2" formControlName="endDate" required>
          <mat-error *ngIf="endDate.errors !== null && endDate.errors.dateRange">
            Choisissez une date postérieure à la date de début
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="width-45">
          <mat-label>Heure de début de journée</mat-label>
          <input matInput placeholder="08:00" formControlName="startDay" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="item-left-spacing width-45">
          <mat-label>Heure de fin de journée</mat-label>
          <input matInput placeholder="18:00" formControlName="endDay" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="width-45">
          <mat-label>Heure de début de pause</mat-label>
          <input matInput placeholder="12:00" formControlName="startBreak" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="item-left-spacing width-45">
          <mat-label>Heure de fin de pause</mat-label>
          <input matInput placeholder="14:00" formControlName="endBreak" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
        <button mat-raised-button color="primary" matStepperNext class="item-left-spacing">Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Professeurs assignés</ng-template>
    <app-person-datatable #datatable [displayedColumns]="['select', 'firstname', 'lastname', 'email']"></app-person-datatable>
    <br>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
      <button mat-raised-button color="primary" class="item-left-spacing" (click)="validate()">
        Créer
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
