.center {
  text-align: center;
}
.custom-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}
.full-width {
  width: 100%;
}
.width-34 {
  width: 34%;
}
.width-70 {
  width: 70%;
}
.width-45 {
  width: 45%;
}
.item-left-spacing {
  margin-left: 34px;
}
