<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="wizard-container mat-elevation-z8">
          <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="secondFormGroup">
              <div class="card-body">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Période de la soutenance</ng-template>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Choisir le début de période</mat-label>
                        <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="jj/mm/aaa" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Choisir la fin de période</mat-label>
                        <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker2" placeholder="jj/mm/aaa" formControlName="endDate" required >
                        <mat-error *ngIf="endDate.errors !== null && endDate.errors.dateRange">
                          Choisissez une date postérieure à la date de début
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Heure de début de journée</mat-label>
                        <input matInput placeholder="08:00" formControlName="startDay" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Heure de fin de journée</mat-label>
                        <input matInput placeholder="18:00" formControlName="endDay" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Heure de début de pause</mat-label>
                        <input matInput placeholder="12:00" formControlName="startBreak" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Heure de fin de pause</mat-label>
                        <input matInput placeholder="14:00" formControlName="endBreak" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mr-auto">
                      <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
                    </div>
                    <div class="ml-auto">
                      <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-step>
            <mat-step>
              <div class="card-body">
                <ng-template matStepLabel>Salles de soutenance</ng-template>
                <div class="row mb-md-4">
                  <app-classroom-selector #classroomSelector class="col-md-12"></app-classroom-selector>
                </div>
                <div class="row">
                  <div class="mr-auto">
                    <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
                  </div>
                  <div class="ml-auto">
                    <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step>
              <div class="card-body">
                <ng-template matStepLabel>Professeurs assignés</ng-template>
                <app-person-datatable #datatable [displayedColumns]="['select', 'firstname', 'lastname', 'email']"></app-person-datatable>
              </div>
              <div class="row">
                <div class="mr-auto">
                  <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
                </div>
                <div class="ml-auto">
                  <button mat-raised-button color="primary" class="item-left-spacing" (click)="validate()">
                    Créer
                  </button>
                </div>
              </div>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <div class="card-body">
                <form [formGroup]="firstFormGroup" class="custom-form">
                  <ng-template matStepLabel>Les étudiants de la soutenance</ng-template>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Titre</mat-label>
                        <input matInput placeholder="Titre du planning" formControlName="title" required >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Note</mat-label>
                        <textarea matInput placeholder="Informations complémentaires"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Durée des soutenances</mat-label>
                        <input type="number" matInput placeholder="40 minutes" formControlName="oralDefenseDuration" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="ml-auto">
                      <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <div class="card-body">
                <form [formGroup]="firstFormGroup" class="custom-form">
                  <ng-template matStepLabel>Informations générales</ng-template>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Titre</mat-label>
                        <input matInput placeholder="Titre du planning" formControlName="title" required >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Note</mat-label>
                        <textarea matInput placeholder="Informations complémentaires"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Durée des soutenances</mat-label>
                        <input type="number" matInput placeholder="40 minutes" formControlName="oralDefenseDuration" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="ml-auto">
                      <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
