<h1>Rappel des informations</h1>
<form >
  <br>
  <div>
    <label>Nom : </label>
    <input class="form-control" id="nom" value="Rault">
  </div>
  <br>
  <div>
    <label>Prénom : </label>
    <input class="form-control" id="prenom" value="Célie">
  </div>
  <br>
  <div class="form-group">
    <label>Entreprise : </label>
    <input class="form-control" id="entreprise">
  </div>
  <br>
  <div class="form-group">
    <label>Tuteur entreprise : </label>
    <input class="form-control" id="tutEntreprise">
  </div>
  <br>
  <div>
    <label>Tuteur fac : </label>
    <select class="form-control" id="tuteurFac">
      <option>Olivier Barais</option>
      <option>Charles Queguiner</option>
      <option>Didier Certain</option>
      <option>Rumen Andonov</option>
      <option>Laurence Pasquereau</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Valider</button>
</form>
