<div class="main-content">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput id="nom" value="Rault" formControlName="lastName" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput id="prenom" formControlName="firstName" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Entreprise</mat-label>
          <input matInput id="entreprise" formControlName="company" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Tuteur entreprise</mat-label>
          <input matInput id="tutEntreprise" formControlName="tutorC" required>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Tuteur fac</mat-label>
        <mat-select formControlName="tutorU" required>
          <mat-option value="bof" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="voir()">Valider</button>
  </form>
</div>
