<div class="card">
  <div class="card-header card-header-info">
    <div class="row">
      <div class="col-md-5 mr-md-auto">
        <h4 class="card-title font-weight-bolder">{{title}}</h4>
        <p class="card-category">{{subtitle}}</p>
      </div>
      <div class="col-md-3 ml-md-auto" [class.search-input]="true">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>Recherche</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!--    <div class="table-responsive">-->
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="element.role" (selectionChange)="save(element)">
              <mat-option value="ADMIN">
               Administrateur
              </mat-option>
              <mat-option value="STUDENT">
                Étudiant
              </mat-option>
              <mat-option value="TEACHER">
                Professeur
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <!--  </div>-->
</div>
