<div class='app-calendar' *ngIf="calendarVisible">
  <full-calendar
    #calendar
    themeSystem="bootstrap"
    [height]="700"
    [allDaySlot]="false"
    [minTime]="minTime"
    [maxTime]="maxTime"
    [defaultView]="edit ? 'dayGridMonth' : 'timeGridWeek'"
    locale="fr"
    weekNumberCalculation="ISO"
    [editable]="edit"
    [selectable]="edit"
    [buttonText]="{
        today: 'aujourd\'hui',
        month: 'mois',
        week: 'semaine',
        day: 'jour',
        list: 'liste'
       }"
    [header]="{
        left: 'prev,next today',
        center: 'title',
        right: edit ? 'dayGridMonth,timeGridWeek,timeGridDay,listWeek' : 'timeGridWeek,timeGridDay,listWeek'
      }"
    [plugins]="calendarPlugins"
    [weekends]="calendarWeekends"
    [events]="calendarEvents"
    (eventRender)="render($event)"
    (eventMouseEnter)="onMouseEnter($event)"
    (eventMouseLeave)="onMouseLeave($event)"
    (eventClick)="onEventClick($event)"
  ></full-calendar>
</div>
