<div class='app-calendar' *ngIf="calendarVisible">
  <full-calendar
    #calendar
    defaultView="dayGridMonth"
    [editable]="edit"
    [selectable]="edit"
    [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
    [plugins]="calendarPlugins"
    [weekends]="calendarWeekends"
    [events]="calendarEvents"
    (eventRender)="render($event)"
    (eventMouseEnter)="onMouseEnter($event)"
    (eventMouseLeave)="onMouseLeave($event)"
    (eventClick)="onEventClick($event)"
  ></full-calendar>
</div>
