
<div class="card">
  <div class="card-header card-header-info">
    <div class="row">
      <div class="col-md-5 mr-md-auto">
        <h4 class="card-title ">{{title}}</h4>
        <p class="card-category">{{subtitle}}</p>
      </div>
      <div class="col-md-3 ml-md-auto" [class.search-input]="true">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>Recherche</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="planning">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Planning </th>
          <td mat-cell *matCellDef="let element"> {{element.planning}} </td>
        </ng-container>

        <ng-container matColumnDef="creator">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Créateur </th>
          <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Début </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Fin </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div class="row d-flex flex-row justify-content-around">
              <div class="" *ngIf="authService.user.role == 1 || authService.user.role == 2">
                <button class="btn btn-info mat-raised-button mat-button-base" mat-raised-button routerLink="/planning/{{element.id}}/unavailability">
                  Indisponibilités
                  <div matripple="" class="mat-ripple mat-button-ripple"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
              <div class="mr-md-2" *ngIf="element.tag.defaultRevision != null">
                <button class="btn btn-primary mat-raised-button mat-button-base" mat-raised-button routerLink="/planning/{{element.id}}">
                  Consulter le planning
                  <div matripple="" class="mat-ripple mat-button-ripple"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
              <div class="mr-md-2" *ngIf="element.tag.defaultRevision == null && authService.user.id == element.tag.admin.id">
                <button class="btn btn-primary mat-raised-button mat-button-base" mat-raised-button routerLink="/planning/{{element.id}}">
                  Consulter le planning
                  <div matripple="" class="mat-ripple mat-button-ripple"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
              <div class="mr-md-2" *ngIf="authService.user.role == 2">
                <button class="btn btn-danger btn-round btn-fab mat-raised-button mat-button-base" mat-mini-fab (click)="delete(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
