<div class="mat-elevation-z8 datatable-container">
  <div class="filter-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="planning">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Planning </th>
      <td mat-cell *matCellDef="let element"> {{element.planning}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> Créateur </th>
      <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> Début </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" class="item-left-spacing btn" routerLink="{{element.planning}}/unavailability">Indisponibilités</button>
        <button mat-raised-button color="primary" class="item-left-spacing btn">Gérer le planning</button>
        <button mat-mini-fab class="item-left-spacing btn" color="primary">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-mini-fab class="item-left-spacing btn" color="warn">
          <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-mini-fab class="item-left-spacing btn" (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
