table, mat-form-field{
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.filter-container {
  padding: 0 35px;
}

.datatable-container {
  padding-top: 25px;
}

.mat-column-select {
  overflow: initial;
}

.item-left-spacing {
  margin-left: 24px;
}

.btn {
  vertical-align: bottom;
}
