<div class="main-content">
  <div class="text-center">
    <span class="title">{{planningName}}</span><br>
    <span class="subtitle">Créé par Koitrin KOFFI il y a 4 minutes</span>
  </div>
  <app-card>
    <div class="table-responsive">
      <table border="1">
        <thead>
        <th></th>
        <th *ngFor="let head of matrix[0]" (click)="checkColumns(head.column)" >{{head.timeBox.getFromFormat('DD/MM/YYYY')}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let lines of matrix">
          <td (click)="checkRows(lines[0].row)">
            {{lines[0].timeBox.getFromFormat('HH:mm')}} - {{lines[0].timeBox.getToFormat('HH:mm')}}
          </td>
          <td *ngFor="let line of lines"><input type="checkbox" [ngModel]="line.checked"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
