@import "core/variables/colors";
.options {
  list-style: none;
}


.horizontal-scroll-view  {
  overflow-x: auto;
  overflow-y: hidden;
  //white-space: nowrap;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
