<div class="main-content">
  <div class="text-center">
    <span class="title">{{planningName}}</span><br>
    <span class="subtitle">Créé par Koitrin KOFFI il y a 4 minutes</span>
  </div>
  <app-card>
    <div class="table-responsive">
      <table>
        <thead>
          <th></th>
          <th *ngFor="let header of headers" >{{header}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let entry of lines | isBeforeLunchBreak: 'days'" ><td>{{entry.line}}</td></tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
